/* Global Style */
.stoikiometri-page {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

/* Container */
.stoikiometri-content {
  max-width: 1800px;
  margin: 30px auto;
  padding: 20px;
  background: #ffeeee;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header */
.stoikiometri-header {
  text-align: center;
  margin-bottom: 20px;
}

.stoikiometri-logo {
  max-width: 50px;
  margin-bottom: 10px;
}

.stoikiometri-website-name {
  font-size: 40px;
  color: black;
  margin-bottom: 20px;
}

/* Navbar */
.stoikiometri-navbar ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stoikiometri-navbar ul li {
  font-size: 18px;
}

.stoikiometri-navbar ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.stoikiometri-navbar ul li a:hover {
  text-decoration: underline;
}

/* Content */
.stoikiometri-title {
  font-size: 30px;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.stoikiometri-paragraph {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

/* Image */
.stoikiometri-image-container {
  text-align: center;
  margin: 20px 0;
}

.stoikiometri-main-image {
  max-width: 100%;
  border-radius: 10px;
  border: 3px solid #ddd;
}
