/* Container */
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px;
  }
  
  .sidebar {
    width: 25%;
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sidebar ul li:hover {
    background-color: #f1f1f1;
  }
  
  .sidebar ul .active {
    background-color: #007bff;
  
  }
  
  .content {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Content Headings */
  .content h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Image Container */
  .image-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .image-container p {
    font-size: 14px;
    color: #555;
  }
  
  /* Description Styling */
  .description {
    line-height: 1.6;
    font-size: 16px;
    color: #555;
  }
  
  .description ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  .description ul li {
    list-style-type: disc;
    margin-bottom: 10px;
  }
  